.projectstageinfo {
  width: 1000px;
  margin: 0 auto;

  .title {
    font-size: 25px;
    background-color: white;
    line-height: 60px;
    margin-bottom: 15px;
  }

  .project_description {
    font-size: 20px;
    background-color: white;
    line-height: 50px;
    margin-bottom: 5px;
    height: 50px !important;
  }

  .el-main {
    background-color: white;
    padding: 0px 20px;
    margin: 5px 0px;
  }

  .el-row {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
    .el-col {
      border-radius: 4px;
    }
    .bg-purple-dark {
      background: #99a9bf;
    }
    .bg-purple {
      background: #d3dce6;
      font-size: 16px;
    }
    .bg-purple-light {
      background: #e5e9f2;
    }
    .grid-content {
      border-radius: 4px;
      min-height: 36px;
      line-height: 36px;
    }
    .row-bg {
      padding: 5px 0;
      background-color: #f9fafc;
    }

    .el-button{
      height: 30px;
      line-height: 5px;
    }
  }

  .withdraw {
    font-size: 20px;
    background-color: white;
    line-height: 60px;
    margin-top: 5px;
  }

  .block {
    display: block;
  }

  .none {
    display: none;
  }
}