.fundraisingusinginfo{
    width: 1000px;
    height: 1200px;
    margin: 0 auto;

    .title{
        font-size: 25px;
    }

    .moveleft{
        float: left;      
    }

    .halfwidth{
        width:50%;
    }

    .el-table .warning-row {
        background: oldlace;
      }
    
      .el-table .success-row {
        background: #f0f9eb;
      }
}